@import "colors";
@import "variables";
@import "fonts";
.dir {
  &-rtl {
    direction: rtl;
  }
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: {
    x: hidden;
    y: auto;
  }
}
