// Font Size
$base-size: 16px;
$primary-size: 14px;
$secondary-size: 12px;
$tertiary-size: 10px;
$header-font-size: 18px;

// Border Radius
$primary-radius: 10px;
$secondary-radius: 5px;

//container-sizes
$container-padding: 62px 58px;
$container-size: 1400px;
